.NewTodo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  border-radius: 5vw;
  background-color: rgb(44, 44, 133);
}

.title{
  border-radius: 10vw;
  margin: 1vw;
  height: 2vw;
  width: 20vw;
}

.desc{
  border-radius: 1vw;
  height: 5vw;
  width: 20vw;
}

.NewTodo label{
  margin: 0.5vw;
}

.NewTodo button{
  display: inline-block;
  padding: 1vw;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2vw;
  transition: background-color 0.3s ease;
  background-color: #08beb8;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 1vw;
}

.NewTodo button:hover{
  background-color: blue;
}

.NewTodo button:active{
  background-color: green;
}

input {
  font-size: 1.3vw;
}