:root{
  --color1: grey,
}

.Todo{
  background-image: linear-gradient(to bottom right, rgb(31, 31, 67), rgb(31, 31, 67), rgb(31, 31, 67),rgb(31, 31, 67), rgb(59, 59, 178));
  color: white;
  margin: 1vw;
  border-radius: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
  box-shadow:2px 5px 5px blue;
}

.deleteBtn{
  color: red;
  background-color: transparent;
  font-size: 2vw;
  border-radius: 2vw;
  margin: 1vw;
}